* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0f3854 !important;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%
}
.box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.heading {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    margin-top: 30px;
}
.timer {
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
#mili {
    color: red;
}
.controlBtn {
    display: flex;
    flex-direction: row;
}
.btn {
    margin: 0 10px;
    width: 60px;
    box-shadow: -1px 0px 0px 3px;
}